* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

li {
    list-style: none;
}

.sidebar {
    display: grid;
    background-color: aqua;
    gap: 50px;
    font-size: 20px;
}

.options, .settings {
    display: grid;
    gap: 15px;
    margin-left: 20px;
}

.options {
    grid-template-rows: repeat(6, 1fr);
}

.settings {
    grid-template-rows: repeat(3, 1fr);
}

h3 {
    font-size: 26px;
    margin-left: 20px;
    margin-top: 20px;
}